@* Footer Layout Component *@

<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="http://www.themekita.com">
						Hakkında
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Yardım
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://themewagon.com/license/#free-item">
						Lisans Hakları
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			@DateTime.Now.Year, made with by <a href="https://github.com/yusuf-bilgin">Yusuf Bilgin</a>
		</div>
	</div>
</footer>
