@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
	<div class="container-fluid">

		<script type="text/javascript">
			$(document).ready(() => {
				var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7181/SignalRHub").build();

				$("#connstatus").text(connection.state); // bağlantı durumu

				connection.start().then(() => {
					$("#connstatus").text(connection.state);
					
					/// ÖNEMLİ NOT: Aşağıdaki metotlar sunucuda tanımlı olan metotlardır. Yani Hub sınıfındaki metot isimleri
					// İlk açıldığında önden sayıları al
					// Sonra her 5 saniyede bir interval metodu sayesinde yenile. Not: Bu yöntem trafiği yoruyor. "sunucudan otomatik push" yapmalı.
					connection.invoke("SendStatistics");
					setInterval(() => {
						connection.invoke("SendStatistics");
					}, 5000);

				}).catch((err) => { console.log(err) });

				// Hub sınıfındaki metotların içinde bulunanlar
				connection.on("ReceiveCategoryCount", (value) => {
					$("#categoryCount").text(value);
				});
				connection.on("ReceiveProductCount", (value) => {
					$("#productcount").text(value);
				});
				connection.on("ReceiveActiveCategoryCount", (value) => {
					$("#activecategorycount").text(value);
				});
				connection.on("ReceivePassiveCategoryCount", (value) => {
					$("#passivecategorycount").text(value);
				});
				connection.on("ReceiveHamburgerCount", (value) => {
					$("#hamburgerCount").text(valvalueue5);
				});
				connection.on("ReceiveDrinkCount", (value) => {
					$("#drinkCount").text(value);
				});
				connection.on("ReceiveAverageProductPrice", (value) => {
					$("#averageProductPrice").text(value);
				});
				connection.on("ReceiveMostExpensiveProduct", (value) => {
					$("#mostExpensiveProduct").text(value);
				});
				connection.on("ReceiveCheapestProduct", (value) => {
					$("#cheapestProduct").text(value);
				});
				connection.on("ReceiveAverageHamburgerPrice", (value) => {
					$("#averageHamburgerPrice").text(value);
				});
				connection.on("ReceiveTotalOrderCount", (value) => {
					$("#totalOrderCount").text(value);
				});
				connection.on("ReceiveActiveOrderCount", (value) => {
					$("#activeOrderCount").text(value);
				});
				connection.on("ReceiveLastOrderPrice", (value) => {
					$("#lastOrderPrice").text(value);
				});
				connection.on("ReceiveTotalCashAmount", (value) => {
					$("#totalCashAmount").text(value);
				});
				connection.on("ReceiveTodaysCashAmount", (value) => {
					$("#todaysCashAmount").text(value);
				});
				connection.on("ReceiveTotalTableCount", (value) => {
					$("#totalTableCount").text(value);
				});
			});
		</script>


		<h4 class="page-title">Anlık İstatistik Sayfası</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-list"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kategori Sayısı</p>
									<h4 class="card-title" id="categoryCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-cutlery"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ürün Sayısı</p>
									<h4 class="card-title" id="productcount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Aktif Kategoriler</p>
									<h4 class="card-title" id="activecategorycount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-close"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Pasif Kategoriler</p>
									<h4 class="card-title" id="passivecategorycount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-map-pin"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Hamburger Sayısı</p>
									<h4 class="card-title" id="hamburgerCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bitbucket"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">İçecek Sayısı</p>
									<h4 class="card-title" id="drinkCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-money"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ort Ürün Fiyatı</p>
									<h4 class="card-title" id="averageProductPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-turkish-lira"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Pahalı Ürün</p>
									<h4 class="card-title" id="mostExpensiveProduct"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-flash"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Ucuz Ürün</p>
									<h4 class="card-title" id="cheapestProduct"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Hamburger Kategorisi Ortalama Fiyatı</p>
									<h4 class="card-title" id="averageHamburgerPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-newspaper-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Sipariş Sayısı</p>
									<h4 class="card-title" id="totalOrderCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-fire"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Aktif Sipariş Sayısı</p>
									<h4 class="card-title" id="activeOrderCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-users"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Son Siparişin Tutarı</p>
									<h4 class="card-title" id="lastOrderPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-money"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kasadaki Toplam Tutar</p>
									<h4 class="card-title" id="totalCashAmount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-map-marker"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Bugünün Kazancı</p>
									<h4 class="card-title" id="todaysCashAmount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-table"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Masa Sayısı</p>
									<h4 class="card-title" id="totalTableCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

