@* Client Layout*@

@{
	Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("ClientHead")

<body>

	@await Component.InvokeAsync("ClientNavbar") @* İsmi Header olmalı navbar bunun içinde *@

	@RenderBody()

	@await Component.InvokeAsync("ClientFooter")
	@await Component.InvokeAsync("ClientScripts")
</body>
</html>
