@* Client Layout Sayfası *@

@{
	Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("ClientHead")
<body class="sub_page">

	@await Component.InvokeAsync("ClientNavbar")
	@RenderBody();
	@await Component.InvokeAsync("ClientFooter")
	@await Component.InvokeAsync("ClientScripts")

</body>
</html>
