@* Client Layout*@

@{
	Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("ClientHead")

<body>	
	<div class="hero_area">		
		<div class="bg-box">
			<img src="~/RestaurantDashboard/images/hero-bg.jpg" alt="">
		</div>		
		@await Component.InvokeAsync("ClientNavbar") @* İsmi Header olmalı navbar bunun içinde *@

		@RenderBody()
	</div>

	@await Component.InvokeAsync("ClientFooter")
	@await Component.InvokeAsync("ClientScripts")
</body>
</html>
