<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/RestaurantDashboard/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Bizim mutfakta lezzetler konuşur
                        </h2>
                    </div>
                    <p>
                        Bizim mutfağımızda her tarifin bir geçmişi, her sunumun bir anlamı vardır. 
                        Her tabak, bir coğrafyanın, bir geleneğin, bir ustanın anlatısıdır. 
                        Çünkü biz inanıyoruz ki, bilgelik sadece kitaplarda değil;
                        doğru hazırlanmış bir yemeğin içinde de saklıdır.
                    </p>
                    <a href="">
                        Biz Kimiz?
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
