@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-md-8 offset-2">
		<div class="alert alert-success">
			Bağlantının Durumu: <strong id="connStatus"></strong>
		</div>
	</div>
</div>

@section Scripts {
	<!-- Ortak JS kütüphanelerini buraya al -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<!-- Sayfaya özel SignalR kodu -->
	<script type="text/javascript">
		$(document).ready(() => {
			// Hub bağlantısını oluştur
			var connection = new signalR.HubConnectionBuilder()
				.withUrl("https://localhost:44369/SignalRHub")
				.build();

			// İlk durum
			$("#connStatus").text(connection.state);

			// Başlatma
			connection.start()
				.then(() => {
					$("#connStatus").text(connection.state);
				})
				.catch((err) => {
					console.error(err.toString());
				});

			// Bağlantı koparsa yeniden bağlanmayı dinle
			connection.onclose(() => {
				$("#connStatus").text("Disconnected");
			});
		});
	</script>
}
