<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Misafirlerimiz Ne Diyor?
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Geçirdiğimiz akşam unutulmazdı. Yemekler hem lezzetli hem de sunumları çok şıktı. Personel çok ilgiliydi, kendimizi özel hissettik.
                            </p>
                            <h6>
                                Elif Yılmaz
                            </h6>
                            <p>
                                Antalya, Türkiye
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/RestaurantDashboard/images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
								Leziz yemekler ve harika bir atmosfer! Ailemle birlikte harika vakit geçirdik. Kesinlikle tekrar geleceğiz.
                            </p>
                            <h6>
								Mert Kaya
                            </h6>
                            <p>
                                İstanbul, Türkiye
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/RestaurantDashboard/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>